name: Releaser

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ env.VERSION }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup pantry
        uses: stacksjs/pantry@v0.7
        with:
          setup-only: 'true'

      - name: Use Cached node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            node-modules-

      - name: Install Dependencies
        run: bun install

      - name: Extract tag version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Publish to npm
        run: pantry publish --access public
        env:
          BUN_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Create GitHub Release
        id: create_release
        uses: stacksjs/action-releaser@v1.2.7
        with:
          files: |
            ./bin/buddy-bot-linux-x64.zip
            ./bin/buddy-bot-linux-arm64.zip
            ./bin/buddy-bot-windows-x64.zip
            ./bin/buddy-bot-darwin-x64.zip
            ./bin/buddy-bot-darwin-arm64.zip
          changelog: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
